.project
.pydevproject
.settings
.idea
.idea/*
.vscode/tags
.sonar
doc/_build
.coverage
htmlcov

Thumbs.db
.DS_Store
*~
nohup.out

*.map
*.prefs
*.pyc
*.orig
*.db
*.sqlite
*.sqlite3

venv/*
env.txt
src/env/local.py
temp.py
media

/os
/sys