{% extends "bamzi/base.html" %}
{% load static %}
{% load jalali_tags %}

{% block title %} سود مجامع کاربران{% endblock %}

{% block header_css %}{% endblock %}

{% block active_menu %}
<li>
    <a href="{% url 'admin_user_shares' %}"><i class="fa fa-dashboard"></i> سهام کاربران</a>
</li>
<li>
    <a href="{% url 'admin_precedence_shares' %}"><i class="fa fa-desktop"></i> حق تقدم‌های من</a>
</li>
<li>
    <a class="active-menu" href="{% url 'admin_convention_benefit' %}"><i class="fa fa-table"></i> سود مجامع</a>
</li>
{% endblock %}

{% block page_header %}سود مجامع کاربران{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                    سود مجامع
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>کاربر</th>
                                <th>سهم</th>
                                <th>مبلغ سود</th>
                                <th>از تاریخ</th>
                                <th>تا تاریخ</th>
                                <th>بانک</th>
                                <th>دریافت شد</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for share in user_convention_benefits %}
                                <tr class="odd gradeA" data-edit-id={{share.id}}>
                                    <td>{{share.user}}</td>
                                    <td><i class="fa fa-square text {% if share.is_open %}text-success{% else %}text-danger{% endif %}"></i>
                                     <span class="symbol_name">{{share.symbol_name}}</span></td>
                                    <td class="text-center benefit_price">{{share.benefit_price}}</td>
                                    <td>{{share.from_date|to_jalali:'%y/%m/%d'}}</td>
                                    <td>{{share.to_date|to_jalali:'%y/%m/%d'}}</td>
                                    <td>{{share.bank}}</td>
                                    <td class="text-center got">{% if share.got_it %}<i class="fa fa-check-square text-success"></i>{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock %}

{% block footer_js %}
    <!-- Custom Js -->

    <script src="{% static 'bamzi/js/dataTables/jquery.dataTables.js' %}" ></script>
    <script src="{% static 'bamzi/js/dataTables/dataTables.bootstrap.js' %}" ></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
{% endblock %}
