{% load static %}
<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود به سایت بامزی</title>
    <link href="{% static 'bamzi/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'bamzi/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'bamzi/css/custom-styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      {% comment %} <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center"><img class="logo" src="{% static 'bamzi/images/logoHeader.png' %}"></div>
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
      </div> {% endcomment %}
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 login-card">
          <h2 class='text-center'>ورود</h2>
          <hr>
          <form class="form-signin" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group col-lg-12">
              <label>نام کاربری</label>
              <input type="text" name="username" class="login_box" placeholder="نام کاربری" required autofocus>
            </div>
            <div class="form-group col-lg-12">
              <label>رمز عبور</label>
              <input type="password" name="password" class="login_box" placeholder="******" required>
            </div>
            <button class="btn btn-lg btn-primary" type="submit">ورود</button>
          </form><!-- /form -->
        </div><!-- /card-container -->
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
      </div>
    </div><!-- /container -->
  </body>
</html>