{% extends "bamzi/base.html" %}
{% load static %}
{% load jalali_tags %}

{% block title %}افزایش سرمایه‌ها{% endblock %}

{% block header_css %}{% endblock %}

{% block active_menu %}
<li>
    <a href="{% url 'my_shares' username=request.user.username %}"><i class="fa fa-dashboard"></i> سهام من</a>
</li>
<li>
    <a class="active-menu" href="{% url 'share_convention' %}"><i class="fa fa-bar-chart-o"></i> افزایش سرمایه‌ها</a>
</li>
<li>
    <a href="{% url 'my_precedence_shares' username=request.user.username %}"><i class="fa fa-desktop"></i> حق تقدم‌های من</a>
</li>
<li>
    <a href="{% url 'my_convention_benefit' username=request.user.username %}"><i class="fa fa-table"></i> سود مجامع</a>
</li>
<li>
    <a href="form.html"><i class="fa fa-sitemap"></i> صنایع من</a>
</li>
<li>
    <a href="tab-panel.html"><i class="fa fa-qrcode"></i> سهام مناسب خرید</a>
</li>
<li>
    <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#">Second Level Link</a>
        </li>
        <li>
            <a href="#">Second Level Link</a>
        </li>
        <li>
            <a href="#">Second Level Link<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="#">Third Level Link</a>
                </li>
                <li>
                    <a href="#">Third Level Link</a>
                </li>
                <li>
                    <a href="#">Third Level Link</a>
                </li>

            </ul>

        </li>
    </ul>
</li>
<li>
    <a href="empty.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
</li>
{% endblock %}

{% block page_header %}افزایش سرمایه‌ها {% endblock %}

{% comment %} {% block page_header_small %}افزایش سرمایه‌ها {% endblock %} {% endcomment %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                   افزایش سرمایه‌ها
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>سهم</th>
                                <th>شرکت</th>
                                <th>صنعت</th>
                                <th>تاریخ مجمع</th>
                                <th>تجدید ارزیابی</th>
                                <th>سود انباشته</th>
                                <th>آورده نقدی</th>
                                <th>مرحله</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for share in share_conventions %}
                                <tr class="odd gradeA">
                                    <td><i class="fa fa-square text {% if share.is_open %}text-success{% else %}text-danger{% endif %}"></i>
                                     {{share.symbol_name}}</td>
                                    <td>{{share.company_name}}</td>
                                    <td>{{share.industry}}</td>
                                    <td>{{share.convention_date|to_jalali:'%y/%m/%d' }}</td>
                                    <td>{{share.revaluation}}</td>
                                    <td>{{share.accumulated_profit}}</td>
                                    <td>{{share.cash_priority}}</td>
                                    <td>{{share.level}} ({{share.level_str}})</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>

{% endblock %}

{% block footer_js %}
    <!-- Custom Js -->

    <script src="{% static 'bamzi/js/dataTables/jquery.dataTables.js' %}" ></script>
    <script src="{% static 'bamzi/js/dataTables/dataTables.bootstrap.js' %}" ></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
{% endblock %}
