{% extends "bamzi/base.html" %}
{% load static %}

{% block title %}سهام من{% endblock %}

{% block header_css %}{% endblock %}

{% block active_menu %}
<li>
    <a class="active-menu" href="{% url 'my_shares' username=request.user.username %}"><i class="fa fa-dashboard"></i> سهام من</a>
</li>
<li>
    <a href="{% url 'share_convention' %}"><i class="fa fa-bar-chart-o"></i> افزایش سرمایه‌ها</a>
</li>
<li>
    <a href="{% url 'my_precedence_shares' username=request.user.username %}"><i class="fa fa-desktop"></i> حق تقدم‌های من</a>
</li>
<li>
    <a href="{% url 'my_convention_benefit' username=request.user.username %}"><i class="fa fa-table"></i> سود مجامع</a>
</li>
<li>
    <a href="{% url 'my_industry' username=request.user.username %}"><i class="fa fa-sitemap"></i> صنایع من</a>
</li>
{% comment %} <li>
    <a href="tab-panel.html"><i class="fa fa-qrcode"></i> سهام مناسب خرید</a>
</li> {% endcomment %}
{% endblock %}

{% block page_header %}سهام من{% endblock %}

{% block content %}
{% if not user_shares %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
وارد کردن داده ها از فایل
            </div>
            <div class="panel-body">
                <div class="row">
                {% if not_exists_shares %}
                    <div class="alert alert-danger">سهام ناموجود</div>
                    {% for share in not_exists_shares %}
                        <div class="col-md-4">{{share}}</div>
                    {% endfor %}
                {% else %}
                    <form role="form" action="{% url 'import_csv_shates' username=request.user.username %}" method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group col-md-6">
                            <label>فایل csv</label>
                            <input type="file" accept=".csv" name="file_data">
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary col-md-3">ثبت اطلاعات</button>
                        </div>
                    </form>
                {% endif %}
                </div>
                <!-- /.row (nested) -->
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                افزودن سهم
            </div>
            <div class="panel-body">
                <div class="row">
                    <form role="form" action="{% url 'my_shares' username=request.user.username %}" method="POST">
                    {% csrf_token %}
                        <div class="form-group col-lg-6">
                            <label>سهم</label>
                            <input class="form-control" id="share_name" required>
                            <input class="hide" id="share_id" name="share_id" required>
                            <span class="glyphicon glyphicon-remove d-none" id="remove_share"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>قیمت سربه‌سر</label>
                            <input class="form-control" placeholder="به ریال" name="basic_price" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>تعداد</label>
                            <input class="form-control" type="number" name="count" required>
                        </div>
                        {% comment %} <div class="form-group col-lg-6">
                            <label>تاریخ خرید</label>
                            <input class="form-control" type="date">
                        </div> {% endcomment %}
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary col-md-3">ثبت</button>
                        </div>
                    </form>
                        </div>
                <!-- /.row (nested) -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                    سهام من
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th class="min-width-50">سهم</th>
                                <th>شرکت</th>
                                <th>صنعت</th>
                                <th>بازار</th>
                                <th>سربه‌سر</th>
                                <th>آخرین قیمت</th>
                                <th>قیمت پایانی</th>
                                <th>تعداد</th>
                                <th>درصد سود/ضرر</th>
                                <th>درصد هدف</th>
                                <th>میانگین</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for share in user_shares %}
                                <tr class="
                                {% if share.target >= 100 %}
                                    danger
                                {% elif share.got_averaged and share.profit_loss > 0 %}
                                    info
                                {% elif share.profit_loss < -20 %}
                                    warning
                                {% endif %}" data-edit-id={{share.id}}>
                                    <td><i class="fa fa-square text {% if share.is_open %}text-success{% else %}text-danger{% endif %}"></i>
                                     <span class="symbol_name">{{share.symbol_name}}</span></td>
                                    <td>{{share.company_name}}</td>
                                    <td>{{share.industry}}</td>
                                    <td>{{share.market_type}}</td>
                                    <td class="text-center basic_price">{{share.basic_price}}</td>
                                    <td class="text-center {% if share.last_price_percent >= 0 %}text-success{% else %}text-danger{% endif %}">{{share.last_price}} ({{share.last_price_percent}})</td>
                                    <td class="text-center {% if share.final_price_percent >= 0 %}text-success{% else %}text-danger{% endif %}">{{share.final_price}} ({{share.final_price_percent}})</td>
                                    <td class="text-center count">{{share.count}}</td>
                                    <td class="text-center {% if share.profit_loss >= 0 %}text-success{% else %}text-danger{% endif %}">{{share.profit_loss}}</td>
                                    <td class="text-center">{{share.target}}</td>
                                    <td class="text-center got_averaged">{% if share.got_averaged %}<i class="fa fa-check-square text-success"></i>{% endif %}</td>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-sm edit-share-btn" data-toggle="modal" data-target="#myModal">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        {% comment %} <button class="btn btn-danger btn-sm delete-share-btn" href="{% url 'edit_user_shares' share_id=share.id %}" data-method="DELETE" data-confirm="آیا از حذف سهم {{share.symbol_name}} اطمینان دارید؟">
                                            <i class="fa fa-trash-o"></i>
                                        </button> {% endcomment %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>

<div class="panel-body">
{% comment %} <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Click  Launch Demo Modal
</button> {% endcomment %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% comment %} <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> {% endcomment %}
                    <h4 class="modal-title" id="myModalLabel">ویرایش سهم</h4>
                </div>
                <form role="form" id="ModalForm" action="" method="POST">
                    <div class="modal-body col-lg-12">
                        {% csrf_token %}
                            <div class="form-group col-lg-6">
                                <label>قیمت سربه‌سر</label>
                                <input id="basic_price_edit" class="form-control" placeholder="به ریال" name="basic_price" required>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>تعداد</label>
                                <input id="count_edit" class="form-control" type="number" name="count" required>
                            </div>
                            <div class="checkbox col-lg-6">
                                <label></label>
                                <label>
                                    <input id="got_averaged" type="checkbox" name="got_averaged">میانگین گرفتم
                                </label>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">ثبت تغییرات</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_js %}
    <!-- Custom Js -->

    <script src="{% static 'bamzi/js/dataTables/jquery.dataTables.js' %}" ></script>
    <script src="{% static 'bamzi/js/dataTables/dataTables.bootstrap.js' %}" ></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();

            $(function() {
                $("#share_name").autocomplete({
                    source: '/bamzi/shares-name/',
                    select: function (event, ui) { //item selected
                        AutoCompleteSelectHandlerShop(event, ui)
                    },
                    minLength: 2,
                });
            });

            function AutoCompleteSelectHandlerShop(event, ui){
                var selectedObj = ui.item;
                $("#remove_share").show();
                if(selectedObj.id){
                    $("#share_name").attr("data-share", selectedObj.id);
                    $("#share_id").val(selectedObj.id);
                }
                else{
                    $("#share_name").attr("data-share", "");
                    $("#share_id").val("");
                }
                var selectedObj = ui.item;
            }
            $("#remove_share").click(function(){
                $("#share_name").val('');
                $("#share_name").attr("data-share", "");
                $("#remove_share").hide();
            });
            
            $(".edit-share-btn").click(function(){
                var tr = $(this).closest('tr');
                var symbol_name = tr.find(".symbol_name").html();
                var share_id = tr.attr("data-edit-id")
                $('#myModalLabel').html('ویرایش سهم '+symbol_name);
                var basic_price = tr.find(".basic_price").html();
                var count = tr.find(".count").html();
                $('#basic_price_edit').val(basic_price);
                $('#count_edit').val(count);
                var got_averaged = tr.find(".got_averaged").html() ? true : false;
                $('#got_averaged').prop( "checked", got_averaged );
                var edit_url = '/bamzi/user-shares/'+share_id+'/';
                $("#ModalForm").attr('action', edit_url);
            });
        });
    </script>
{% endblock %}
